body {
    font-family: sans-serif;
}


header a{
    border:2px dotted blue;
    padding: 20px;
    margin:80px;
    background-color: aquamarine;
}

header{
    margin:30px;
}

nav{
    margin:30px;
    padding:30px;
    
}
